{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon blog !{% endblock %}

{% block body %}

<h1>Bienvenue sur mon blog !</h1>
<p>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo totam nam accusamus est dolore aliquid
        fugiat distinctio beatae culpa, debitis harum dolorem sequi neque porro magnam, quidem veniam id! Accusantium!</span>
    <span>Vero placeat unde at ea possimus molestias, dignissimos vel quaerat facere ratione itaque libero pariatur
        dolorem earum tenetur voluptate praesentium architecto inventore cum nisi. Explicabo omnis blanditiis iste!
        Eligendi, nobis!</span>
    <span>Itaque suscipit adipisci aperiam iure fuga reprehenderit impedit voluptatibus odit quod ipsa aut dolore
        voluptas tempore quidem hic non, explicabo quaerat qui, necessitatibus sint? Odio eius dolor repudiandae
        dolorem necessitatibus?</span>
    <span>Officiis dignissimos corrupti omnis, asperiores officia magnam fugiat ratione sed! Sit totam itaque
        repudiandae minus ipsam doloremque aliquid deserunt id. Illo vero commodi molestias illum similique hic eos.
        Incidunt, molestias.</span>
    <span>Nemo autem exercitationem accusantium natus excepturi aspernatur. A suscipit id eaque magnam voluptate
        aliquam iusto velit. Deleniti, tempora tenetur dolorum accusamus dolore ullam voluptatum ab quas aut libero
        vero et?</span>
    <span>Aliquid fugit tenetur iusto labore non neque sequi itaque quidem ipsa perspiciatis id ducimus officiis, eaque
        qui! Animi enim ipsa aliquam. Ratione, veritatis? Quidem nulla voluptatem numquam officia dicta aperiam.</span>
    <span>Quibusdam dolor nulla, molestias, rem porro quo numquam facere illo labore earum amet totam architecto
        itaque? Minima, dolorem ad, possimus quae sapiente veniam est nostrum ea incidunt cupiditate quod minus?</span>
    <span>Impedit quidem facilis commodi. Commodi accusantium obcaecati voluptatibus consequatur deserunt mollitia
        illum aliquam dolor molestiae nostrum doloribus dolorum dolore sunt sint quae esse facere magnam, doloremque
        tempora animi voluptates vitae.</span>
    <span>Suscipit laborum saepe eos magnam mollitia ipsam vero tempore, architecto sequi? Ratione dicta incidunt
        libero. Reprehenderit itaque aspernatur totam hic deserunt sit sed impedit vel possimus qui. Quod, cumque
        aperiam?</span>
    <span>Quam perspiciatis sed officia possimus sapiente exercitationem cumque facilis, libero magni, veritatis iure!
        Quia, modi facere autem, sunt beatae ullam exercitationem labore, fuga molestiae fugit illum deleniti repellat
        accusamus soluta.</span>
</p>

{% endblock %}